@import '../../index.scss';

#services {
  .services_container {
    display: grid;
    grid-template-columns: 1fr;

    .service_item {
      width: 50%;
      margin: 0 auto;
      background: var(--color-bg-variant);
      border-radius: 2rem;
      border: 1px solid transparent;
      transition: var(--transition);

      h3 {
        padding: 1rem 0;
        color: var(--color-bg);
        background-color: var(--color-primary);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        text-align: center;
      }

      &:hover {
        background: transparent;
        border: 1px solid var(--color-primary-variant);
      }

      .service_list {
        padding: 2.4rem 5rem;

        .service_detail {
          display: flex;
          justify-content: center;
          align-items: center;

          .service_icon {
            padding-right: 1rem;
            color: var(--color-white);
          }
        }
      }
    }
  }

}

// Media device
@media screen and (max-width: 1024px) {
  #services {
    .services_container {
      .service_item {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #services {
    .services_container {
      .service_item {
        width: 90%;
        h3 {
          padding: 0.5rem;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }

        .service_list {
          padding: 2rem 3rem;
        }
      }
    }
  }
}