header {
  padding-top: 4rem;
  // overflow: hidden;

  .header_container {
    text-align: center;
    min-height: 570px;
    position: relative;

    // CV download
    .cv {
      margin-top: 2.5rem;
      display: flex;
      justify-content: center;
      gap: 1.2rem;
    }

    // Social
    .header_socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      gap: 0.8rem;
      left: 0;
      bottom: 3rem;

      &::after {
        content: '';
        width: 1px;
        height: 2rem;
        background: var(--color-primary);
      }

      a {
        font-size: 2rem;
      }
    }

    // Avatar
    .avatar {
      display: flex;
      justify-content: center;
      background: linear-gradient(180deg, var(--color-primary), transparent);
      width: 22rem;
      height: 22rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 2rem;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: absolute;
        top: -35px;
      }
    }
    
    // Scroll down
    .scroll_down {
      position: absolute;
      bottom: 5rem;
      right: -2rem;
      transform: rotate(90deg);
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}

// Media device
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 600px) {
  header {
    .header_socials,
    .scroll_down {
      display: none !important;
    }
    .header_container {
      min-height: 530px;
      .avatar {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}